<main>
  <header class="searchForm-container">
    <img src="https://image.ibb.co/e6vOFQ/wikipedia.png" height="100%" width="100">
    <!-- form di ricerca-->
    <form class="searchForm" (submit)="search()">
      <input  type="search" 
              name="ricerca" 
              class="searchForm-input" 
              placeholder="Scrivi il termine di ricerca"
              [(ngModel)]="stringaDiRicerca">
      
      <!-- tasto di ricerca-->
      <button type="submit" class="icon searchIcon">
        <img src="https://image.ibb.co/cpG8zk/search.png"></button>
    </form>


  </header>
  <!-- risultati di ricerca-->

  <section class="searchResults">
    <div class="resultItem" *ngFor="let result of resultsList">

      <div class="resultItem-title">
        <a routerLink="/article/{{result.title}}">Anteprima</a>  <!--routerLink a differenza di href non aggiorna la pagina-->
      </div>
      <!--{{result.title}}-->
      <h3 class="resultItem-title">
        <a [href]="getLink(result.title)"
          target="_blank">
          {{result.title}}
          </a>
        </h3>
        <span class="resultItem-snippet"
        [innerHTML]="result.snippet"></span> 
        <a [href]="getlink(result.title)"
        target="_blank"
        class="resultItem-link">
      {{getlink(result.title)}}
    </a>

        
    </div>
    
    
  </section>
</main>
